services:

  gitea:
    image: docker.gitea.com/gitea:latest
    container_name: gitea
    restart: on-failure:2
    environment:
      GITEA__database__DB_TYPE: ${GITEA_DATABASE_DB_TYPE}
      GITEA__database__HOST: ${GITEA_DATABASE_HOST}
      GITEA__database__NAME: ${GITEA_DATABASE_NAME}
      GITEA__database__USER: ${GITEA_DATABASE_USER}
      GITEA__database__PASSWD: ${GITEA_DATABASE_PASSWORD}
      GITEA__server__HTTP_PORT: ${GITEA_SERVER_HTTP_PORT}
      GITEA__server__ROOT_URL: ${GITEA_SERVER_ROOT_URL}
      GITEA__server__SSH_DOMAIN: ${GITEA_SERVER_SSH_DOMAIN}
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3090/api/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    networks:
      - edge_net
      - db_net
      - apps_net
    volumes:
      - gitea_data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "2222:22"

networks:
  edge_net:
    external: true
  apps_net:
    external: true
  db_net:
    external: true

volumes:
  gitea_data: