services:

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: on-failure:2
    # - 8080:8080
    environment:
      DOZZLE_AUTH_PROVIDER: simple

      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      # DOZZLE_ENABLE_ACTIONS: true
      #
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      # - DOZZLE_ENABLE_SHELL=true
      #
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    networks:
      - edge_net
      - apps_net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./.users.yml:/data/users.yml:ro

networks:
  edge_net:
    external: true
  apps_net:
    external: true