{
    metrics
    admin 0.0.0.0:2019
    email {$CADDY_EMAIL}
}

(logging) {
	log {
		output file /var/log/{args[0]}.log
		format json
	}
}

(basicAuth) {
    basicauth {
        {$CADDY_BASIC_AUTH}
    }
}

(health_endpoint) {
    @health path {args.1}
    handle @health {
        header {
            Access-Control-Allow-Origin {args.2}
            Access-Control-Allow-Methods GET, OPTIONS
            Access-Control-Allow-Headers Content-Type, Authorization
        }
        reverse_proxy {args.0}
    }
}

{$DOMAIN_HOST} {
    import logging host
    
    # templates
    # root * /srv
    # file_server browse
    # encode gzip zstd

    redir * {$DOMAIN_INTRO_SITE} 302
}

{$DOMAIN_GRAFANA} {
    import logging grafana
    import health_endpoint grafana:3000 /api/health {$DOMAIN_INTRO_SITE_DOMAIN}

    handle {
        import basicAuth
        reverse_proxy grafana:3000
    }
}

{$DOMAIN_GITEA} {
    import logging gitea
    import health_endpoint gitea:3090 /api/healthz {$DOMAIN_INTRO_SITE_DOMAIN}

    handle {
        import basicAuth
        reverse_proxy gitea:3090
    }
}


{$DOMAIN_N8N} {
    import logging n8n
    import health_endpoint n8n:5678 /healthz/readiness {$DOMAIN_INTRO_SITE_DOMAIN}

    handle {
        import basicAuth
        reverse_proxy n8n:5678
    }
}